---
import PrimaryButton from "./PrimaryButton.astro";
import SecondaryButton from "./SecondaryButton.astro";
---

<div class="flex w-full gap-4 md:gap-8">
  <SecondaryButton text="Learn more" href="#" />
  <PrimaryButton text="See pricing" href="#" />
</div>
