---
import BlogCard from "../../components/BlogCard.astro";
import Layout from "../../layouts/Layout.astro";

const title = "Blog Card Challenge";
---

<Layout title={title}>
  <div class="flex h-screen w-full items-center justify-center">
    <BlogCard />
  </div>
</Layout>
