---
import ProfileCard from "../../components/profile-card/ProfileCard.astro";
import Layout from "../../layouts/Layout.astro";

const title = "Profile Card Challenge";
---

<Layout title={title}>
  <div class="flex h-screen w-full items-center justify-center">
    <ProfileCard />
  </div>
</Layout>
