---
import { Icon } from "astro-icon/components";
---

<div class="max-w-sm overflow-hidden rounded-lg bg-white shadow-sm">
  <img
    class="objet-cover"
    src="/public/assets/img/living.jpg"
    alt="Living Room"
  />
  <div class="px-4 py-6">
    <div
      class="mb-2 inline-block rounded-full border border-green-200 bg-green-50 px-2 py-0.5"
    >
      <p class="l text-sm text-green-700">Interior</p>
    </div>
    <h3 class="mb-3 text-lg font-semibold text-neutral-900">
      Top 5 Living Room Inspirations
    </h3>
    <p class="mb-6 text-base font-medium text-neutral-600">
      Curated vibrants colors for your living, make it pop & calm in the same
      time.
    </p>
    <div class="flex items-center gap-3">
      <p class="text-base font-medium text-indigo-700">Read more</p>
      <Icon name="arrow_right" />
    </div>
  </div>
</div>
