---
import { Icon } from "astro-icon/components";
---

<div
  class="flex max-w-sm flex-col items-center rounded-lg bg-white px-4 py-6 shadow-md"
>
  <img class="mb-6 size-16" src="/assets/img/profile.png" alt="Profile Image" />
  <h3 class="mb-1 text-xl font-medium text-neutral-900">Sarah Dole</h3>
  <p class="mb-6 text-sm text-neutral-600">Front End Engineer @ Microsoft</p>
  <p class="mb-10 text-center text-base text-neutral-600">
    I turn coffee into bugs which are fixed by someone else. Certified Stack
    Overflow and ChatGPT developer.
  </p>
  <button
    class="mb-6 w-full rounded-sm bg-indigo-700 px-4 py-2.5 text-base font-medium text-white shadow-md transition-colors hover:bg-indigo-800"
  >
    Contact me
  </button>
  <div class="flex gap-4">
    <div class="p-2">
      <Icon name="github-fill" class="size-5" />
    </div>
    <div class="p-2">
      <Icon name="linkedin-box-fill" class="size-5" />
    </div>
    <div class="p-2">
      <Icon name="instagram-fill" class="size-5" />
    </div>
    <div class="p-2">
      <Icon name="twitter-x-fill" class="size-5" />
    </div>
  </div>
</div>
