---
interface Props {
  image: string;
  name: string;
  username: string;
  testimonial: string;
}

const { image, name, username, testimonial } = Astro.props as Props;
---

<div class="max-w-sm gap-4 rounded-lg bg-white p-6 shadow-md">
  <div class="flex items-center gap-4">
    <img class="size-12" src={image} alt="Profile picture" />
    <div>
      <h3 class="text-lg font-semibold text-neutral-900">{name}</h3>
      <p class="text-sm text-neutral-600">{username}</p>
    </div>
  </div>
  <p class="mt-4 text-base text-neutral-600">
    {testimonial}
  </p>
</div>
