---
import TestimonialCard from "../../components/TestimonialCard.astro";
import Layout from "../../layouts/Layout.astro";

const title = "Testimonial Card Challenge";
---

<Layout title={title}>
  <div class="flex h-screen w-full items-center justify-center bg-gray-100">
    <TestimonialCard />
  </div>
</Layout>
